<html xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{page}">
    <fieldset class="form-group">
        <h3>{page.rootForm.elements.name.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.name}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h3>{page.rootForm.elements.text-1.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-1}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h3>{page.rootForm.elements.text-2.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-2}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h3>{page.rootForm.elements.text-3.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-3}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h3>{page.rootForm.elements.email.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.email}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h3>{page.rootForm.elements.text-4.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-4}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

       <h3>{page.rootForm.elements.text-5.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-5}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

       <h3>{page.rootForm.elements.text-6.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-6}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

       <h3>{page.rootForm.elements.text-7.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-7}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

       <h3>{page.rootForm.elements.text-8.label}</h3>
        <formvh:renderFormValue renderable="{page.rootForm.elements.text-8}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h4>{page.rootForm.elements.textarea-1.label}</h4>
        <formvh:renderFormValue renderable="{page.rootForm.elements.textarea-1}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h4>{page.rootForm.elements.statictext-1.label}</h4>
        <formvh:renderFormValue renderable="{page.rootForm.elements.statictext-1}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

        <h4>{page.rootForm.elements.statictext-2.label}</h4>
        <formvh:renderFormValue renderable="{page.rootForm.elements.statictext-2}" as="formValue">
            <p><code>{formValue.processedValue}</code></p>
        </formvh:renderFormValue>

    </fieldset>
</formvh:renderRenderable>
</html>
